body {
 margin: 0;
 padding: 25px;
}

.buttonNav {
width:95px;
height:48px;
Top:173px;
Left:46px;
border-radius:1000px;
Padding:4px, 16px, 4px, 16px;
Gap:8px;
}
.buttonNav:hover {
    background-color: blueviolet;
}

.buttonGeneral {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px 16px;
 Width:551px;
Height:40px;
Top:2506px;
Left:37px;
Gap:8px;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 2px;
}

#listAllRecipes {
    list-style:none;
}
li {

}